.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(255, 96, 96), rgb(255, 144, 96));
    min-height: 100vh;
    padding: 20px;
}

a, a:hover, a:visited {
    color: rgb(80, 96, 104);
}

button {
    cursor: pointer;
}

::placeholder {
    color: rgba(80, 96, 104, .5);
}

:disabled {
    opacity: .5;
}
