.CircularProgress {
    border: 8px solid rgb(80, 96, 104);
    border-left-color: transparent;
    border-right-color: transparent;
    background-color: transparent;
    border-radius: 100%;
    animation: Rotate 1s forwards infinite;
}



@keyframes Rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(359deg);
    }
}