.LocationSelector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    height: 100%;
}

.LocationInputDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgb(80, 96, 104);
}

.LocationInputDiv input, .LocationInputDiv button {
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 24px;
    text-align: center;
}

.LocationInputDiv input {
    padding: 5px;
    padding-left: 37px;
    width: 100%;
}

.LocationInputDiv button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: rgb(80, 96, 104);
}

.LocationSelector .LonelyOr {
    font-size: 12px;
    padding: 20px 20px 10px 20px;
}

.LocationSelector .MyLocation {
    font-size: 14px;
    text-align: center;
    word-wrap: normal;
}



@media only screen and (max-width: 480px) {
    .LocationSelector {
        padding: unset;
    }
    
    .LocationInputDiv input, .LocationInputDiv button {
        font-size: 20px;
    }
    
    .LocationInputDiv input {
        padding-left: 29px;
    }
    
    .LocationInputDiv button {
        width: 24px;
        height: 24px;
    }
}