.Panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 32px rgba(0, 0, 0, .35);
    color: rgb(80, 96, 104);
    padding: 20px;
    width: 440px;
    height: 320px;
    animation: PopIn .5s forwards;
}

.ErrorMessageDiv {
    border: 1px solid rgba(255, 0, 0, .25);
    background-color: rgba(255, 0, 0, .1);
    color: red;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}



@media only screen and (max-width: 480px) {
    .Panel {
        width: 100%;
        height: 480px;
    }
}



@keyframes PopIn {
    0% {
        transform: scale(0, .01);
    }

    50% {
        transform: scale(1, .01);
    }

    100% {
        transform: scale(1);
    }
}