.Toggle {
    border: 2px solid rgba(80, 96, 104, .25);
    border-radius: 40px;
    height: 24px;
    padding: 2px;
    cursor: pointer;
    user-select: none;
}

.Toggle .Separator {
    float: left;
    width: 4px;
}

.Toggle .Thumb {
    display: block;
    background-color: rgb(80, 96, 104);
    border-radius: 24px;
    width: 16px;
    height: 16px;
}

.Toggle.On .Thumb {
    float: right;
}

.Toggle.Off .Thumb {
    float: left;
}

.Toggle .Caption {
    color: rgb(80, 96, 104);
    font-size: 12px;
    line-height: 16px;
    padding: 0 4px;
}

.Toggle.On .Caption {
    float: left;
}

.Toggle.Off .Caption {
    float: right;
}