.WeatherView {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    width: 100%;
    height: 100%;
}

.WeatherView .Header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.WeatherView .Header button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 24px;
    text-align: center;    
    width: 32px;
    height: 32px;
    color: rgb(80, 96, 104);
}

.WeatherView .Header .CityName {
    padding-left: 10px;
    font-size: 24px;
    flex-grow: 1;
}

.WeatherView .Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.WeatherView .Content .TodayDate {
    font-size: 24px;
    font-weight: 200;
}

.WeatherView .Content .TodayCondition {
    font-size: 20px;
    font-weight: 200;
}

.WeatherView .Content .TodayInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgb(176, 96, 80);
}

.TodayInfo .Temperature {
    font-size: 64px;
    padding: 0 20px 0 0;
}

.TodayInfo .LargeIcon {
    font-size: 72px;
    padding: 0 20px 0 0;
}

.TodayInfo .Details {
    display: flex;
    flex-direction: column;
    color: rgb(176, 96, 80);
    font-size: 12px;
}

.TodayInfo .DetailTemperature {
    text-align: right;
    padding-left: 20px;
}

.WeatherView .Footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.SmallWeatherItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding-top: 10px;
}

.SmallWeatherItem .WeekdayTitle {
    font-size: 12px;
}

.SmallWeatherItem .Icon {
    font-size: 24px;
    padding: 4px;
}

.SmallWeatherItem .Temperature {
    font-size: 12px;
}



@media only screen and (max-width: 480px) {
    .WeatherView .Header button {
        font-size: 20px;
        width: 24px;
        height: 24px;
    }
    
    .WeatherView .Header .CityName {
        font-size: 20px;
    }
    
    .WeatherView .Content .TodayDate {
        font-size: 20px;
        font-weight: 200;
    }
    
    .WeatherView .Content .TodayCondition {
        font-size: 16px;
        font-weight: 200;
    }

    .WeatherView .Content .TodayInfo {
        flex-direction: column;
        justify-content: center;
    }

    .TodayInfo .Temperature {
        padding: 0;
    }
    
    .TodayInfo .LargeIcon {
        font-size: 72px;
        padding: 10px 0 0 0;
    }

    .TodayInfo .Details {
        display: none;
    }

    .SmallWeatherItem {
        width: 33%;
    }
}